<form name='forma'>
	<span class='errorspan' ng-show='forma.username.$dirty && forma.username.$error.required'>We kinda need this.</span>
    <input type="text" name='username' placeholder="username" class="username" ng-model='user.username' required> <br>
    <span class='errorspan' ng-show='forma.email.$dirty && forma.email.$error.required'>We kinda need this.</span>
    <span class='errorspan' ng-show='forma.email.$dirty && forma.email.$error.email'>Who you tryina fool son? </span>
    <input type="email" name='email' placeholder="email" class="username" ng-model="user.email" required> <br>
        <!-- PRVI PASSWORD --> 
    <span class='errorspan' ng-show='forma.password.$dirty && forma.password.$error.required'>What, no password cyka?</span>
    <span class='errorspan' ng-show='forma.password.$dirty && forma.password.$error.minlength'>Too short. Hehehe </span>
    <input type="password" name='password' placeholder="password" ng-minlength='5' class="password" ng-model='user.password' required> <br>
    	<!-- REPEAT PASS --> 
    <span class='errorspan' ng-show='forma.againpass.$dirty && forma.againpass.$error.pattern'>Daym aren't you bright.</span>
    <span class='errorspan' ng-show='forma.againpass.$dirty && forma.againpass.$error.required'>Repeat your password.</span>
    <input type="password" name='againpass' placeholder="repeat password" class="password" ng-pattern="\b{{user.password}}\b" ng-model='user.passwordConfirm' required compare-to='user.password'> <br>
    <input type="submit" value="Sign up" class="signup-db" id='signin'>
</form>
</div>
