<!DOCTYPE html>

<html ng-app="ShowerThoughts">

	<head>

        <meta charset="utf-8" />
        <title>Shoughts</title>
	<link rel="shortcut icon" type="image/x-icon" href="../favicon.ico" />
        <link rel="stylesheet" href="stylesheets/timeline.css" type="text/css"/>
        <script src="https://code.jquery.com/jquery-3.1.0.js" integrity="sha256-slogkvB1K3VOkzAI8QITxV3VzpOnkeNVsKvtkYLMjfk=" crossorigin="anonymous"></script>
        <script src="bower_components/angular/angular.js"></script>
        <script src="bower_components/angular-route/angular-route.js"></script>

		<meta name="viewport" conect="width=device-width", initial-scale=1.0>

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

		<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600italic|Montserrat' rel='stylesheet' type='text/css'>

        <script src="https://use.fontawesome.com/5e00c93b5b.js"></script>
        <link rel="stylesheet" href="stylesheets/fontawesome/css/font-awesome.min.css">

        <script src="javascripts/controllers/infinite.controller.js"></script>
		<script src="javascripts/services/post.service.js"></script>
		<script src="javascripts/directives/infiniteScroll.directive.js"></script>
		<script src="javascripts/directives/limitTo.directive.js"></script>
		<script src="javascripts/filters/izbrojReci.filter.js"></script>
		<script src="javascripts/main.js"></script>
		<script src="javascripts/jquery-responsive.js"></script>
        <base href="/" >
        	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    </head>
    <body class="body" ng-controller="InfiniteController as infinity" infinite-scroll='loadMore()' infinite-scroll-distance='0'>

        <div class="container-fluid navigation">

            <div class="row">
                <input class="col-lg-3 col-md-3 col-sm-6 col-xs-6 search" placeholder="Search">

                    <!-- SEARCH ICON HERE -->

                <span class="logo">SHOUGHTS</span>

            </div>
         </div>

		 <div class="container-fluid">
             <div class="row">

                <form ng-submit='postMail()' method="post">

                 <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12" id="welcomecontainer">

					 <input type="text" ng-model="mail" class="subscribeinput" placeholder="Enter your e-mail address">

					 <input type="submit" class="subscribebtn" value="Subscribe">
                     <span class="text">Only quality we appreciate.</span>
                     <span class="inconstruction">// social network in construction, stay tuned</span>
                     <img src="images/showsomelove.png" id="showsomelove">
                     <img src="images/welcomebg.png" id="welcome">

				</div>
                </form>
			</div>
		</div>

        <div class="container-fluid">
            <div class="row">

                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12" id="form">
                    <form ng-submit='post()' method="post">


                    <textarea onfocus="this.placeholder = ''" limit-to="30" ng-model="text" ng-trim="false" maxlength="350" type="text" class="writediv" placeholder="Awesome thought goes here" ng-click='dim'></textarea>

                    <input class="postbutton" value="Publish" ng-model='postDugme' type='submit' ng-class="{'disabled' : text.length==0 || (30 - (text|izbrojiReci) < 0)}">

                    <div class="wordcounter">

                        <span class="wordspan" ng-model="span"><b>{{30-(text|izbrojiReci)}}</b> words remaining</span>

                    </div>
                    </form>

                </div>

            </div>
        </div>

        <!-- suggested ppl

        <div class="container-fluid">

            <div class="row">

                <div class="col-lg-2 col-md-2 col-sm-6 col-xs-6 ppl">

                </div>

                <div class="col-lg-2 col-md-2 col-sm-6 col-xs-6 ppl">

                </div>

                <div class="col-lg-2 col-md-2 col-sm-6 col-xs-6 ppl">

                </div>

            </div>

        </div> -->

        <div class="container-fluid" id="postcontainer">
            <div class="row">

                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 posts" ng-repeat="user in users">

                    <div class="post">

                        <p class="post-content">{{user.text}}</p>

						<button ng-click="voteUp($index)" class="heartbtn" style="background-color: transparent; padding:0; outline: none; border: none;">

						<i id="heart" class="fa fa-heart-o" aria-hidden="true"></i>

						</button>

						<span class="total" style="text-align: center;">{{user.numVotes}}</span>

                        <p class='username'>{{user.username}}</p>

                        <div class="imagecropper">
                          <img class="profileimage" src="/images/natalie.png">
                        </div>

                    </div>

					<!--
                    <div class="voting">

                        <button class='voteup' type="button" ng-click="voteUp($index)">

                        <i style="font-size: 30px; color: #7bfa8d; position: absolute; left: 7px; top: 0px;"class="fa fa-angle-up up" ahidden="true"></i>


                        </button>

                        <button type="button" ng-model='a' class="votedown" ng-click="voteDown($index)">

                         <i style="font-size: 30px;color: #fa7b7b; position: absolute; left: 7px; bottom: 1px;"class="fa fa-angle-down down"     ahidden="true"></i>

                         </button>

                        <span class="total" style="text-align: center;">{{user.numVotes}}</span>

                    </div>
				-->


                </div>

            </div>
        </div>

    </body>

</html>
