.body{
	font-family: 'Montserrat';
	height:100%;
}

#left-div-profile{
	background-color:darkgrey;
	padding-left:3%;
	height:100%;

}
.container-fluid{
	padding:0px; 
}
.avatar{ 
	width:100px;
	height:100px;
	border-radius:50%;
	text-align:center;
	margin-left:30%;
}
a{
	text-transform:none;
}
.timeline-link{
	margin-left:1%;
	padding-left:0px;
}
.description{
	width:20%;
	height:27px;
	background-color:white;
	text-align:center;
	margin:0 auto;
	border-radius:5%;

}
.description-text{
	font-size:20px;
}
.name{
	text-align:center;
}
.follow-button-profile{
	background-color:white;
	text-align:center;
	margin-left:30%;
	margin-top:20px;
	width:40%;
	height:50px;
	margin-bottom:20px;
}
.right-div-profile{
	padding-left:50%;
	padding-right:50%;
}
.post{
	width:50%;
	background-color:white;
	height:110px;
	padding-top:20px;
	border-radius:5px;
	box-shadow: 0px 0px 15px -3px rgba(0,0,0,0.20);
	padding-left:10px;
	margin:0 auto;
	margin-top:5%;
}
.post-text{
	font-size:15px;
	margin-right:5%;
	margin-bottom:0px;
	padding-bottom:10px;
}
.post-avatar{
	height:25px;
	width:auto;
	border-radius:50%;
	border-color:blue;
}
.post-username{
	font-size:14px;
	margin-left:20px;
}
.report{
	color:red;
	border:1px solid red;
	background-color:white;
	border-radius:5px;
	margin-left:55%;
}