@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,600);

.errorspan{
	color:crimson;
	float:right;
	margin-top:5%;
	margin-right:20px;
}
input:focus{
    outline: none;
}
input.ng-invalid.ng-dirty{
	border:1px solid crimson;
}
html {
    
	overflow-x: hidden;
	width: 100%;
	background-color: #F9F9F9;
	height:100%;
	font-family: 'Open Sans', sans-serif;
	 overflow-x: hidden; 
    overflow-y: auto;
}

a {
    
	text-transform: none;
	text-decoration: none;
}
.landinghtml{
	height: 100%;
	position: fixed;
}
#popupInput {
    
	background-color:yellow;
	border-style:groove;
	border-color:grey;
	height:100px;
	width:150px;
	position:absolute;
	top:30%;
	left:30%;
	opacity:0;
	z-index:3;
}

.popupForma {
    
	opacity: 0px;
	padding-top:0px;
	margin-top:0px;
	height:120px;
}

.body {
    
	background-color: #F9F9F9;
	font-family: 'Open Sans', sans-serif;
    font-size: 12px;
}

#navigation {
    
	height: 50px;
	width: 100%;
	display:table;
	top:0px;
	position:fixed;
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.12);
	box-shadow: 0 1px 3px rgba(0,0,0,0.12);
	background-color: white;
	z-index: 1;
}

.logo {
    
	margin-left:8.3%;
	margin-top:10px;
	margin-bottom: 10px;
	width:30px;
	height:30px;
	border-radius:50%;
	border-style:none;
	float:left;
}

#search-container {
    
	display: inline-block;
	margin-left:27%
}

.search {
    
	background-color: none;
	border: none;
	border-bottom: 1px solid #dbdbdb;
	margin-top: 13px;
	padding-bottom: 0px;
	float:right;
	width:100%;
	padding-left:5px;
}

.search:focus {
    
	outline: none;
}

#profile-notification {
    
	float:right;
	margin-right:8.3%;
	margin-top:10px;
	display: table-header-group;
}

.notification {
    
	height:30px;
	width:30px;
	border-radius:50%;
	border-style:none;
	background-color: none;
	border:1px solid #707070;
	float:left;

}

.profile-picture-button {
    
	height:30px;
	width:30px;
	border-radius:50%;
	border-style:none;
	float:right;
}

#main-container {
    
	margin-top:60px;
	background-color: white;
}


#input-div {
    
	background-color: white;
	margin-top:30px;
	height:70px;
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    padding: 10px;
    padding-top: 0px;
    margin-left:8.3%;
    
}
.counterbox{
	width:6%;
	height:20px;
	border-radius: 41px 41px 41px 41px;
	-moz-border-radius: 41px 41px 41px 41px;
	-webkit-border-radius: 41px 41px 41px 41px;
	border: 1px solid #7b99fa;
	color:#7b99fa
	;
	text-align: center;
	margin-top:25px;
}

.forma {
    
	padding-top:0px;
	margin-top:10px;
	height:120px;
}
.redSpan{
	color:red;
	background-color: red;
}

.input-text  {
    
	border: 1px solid rgba(112, 112, 112, .25);
    border-radius: 4px;
    border-style: none;
    width: 100%;
    height: 60px;
	padding-left:10px;
    padding-bottom: 20px;
    margin-top:0px;
    word-wrap: break-word;
    word-break: break-all;
    resize:none;
}

.input-text:focus {
    
	outline:none;
}

.post-button {
    
	background-color: #7b99fa;
    color: white;
	border-style:none;
	border-radius:4px;
	width:70px;
	height:30px;
	margin-bottom:10px;
	float:right;
	font-family: 'Raleway', sans-serif;
    font-weight: 500;
	color:white;
	margin-top:20px;
    -o-transition-duration: 0.6s;
    -moz-transition-duration: 0.6s;
    -ms-transition-duration: 0.6s;
    -webkit-transition-duration: 0.6s;
     transition-duration: 0.6s;
    
}

.fade {
    
    background-color: #c2cae6;
    color: 707070;
    
}

.monthlybest-text {
    
	float:right;
	font-family:'Montserrat';
	margin-right:35.5%;
	color:lightgrey;
	margin-bottom:0%;
	margin-top:10px;
    
}

#monthly-best {
    
	height:120px;
    margin-right:8.3%;
	float:right;
	margin-top:5px;
	background-color: white;
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.user-pic-month {
    
	background-color: black;
    position: absolute;
    top: 35px;
    left: 35px;
	height:50px;
	width:70px;
	float:left;
}

.random-user-month {
    
	color:#7b99fa;
    position: absolute;
    top: 33px;
    left: 115px;
	margin-bottom:0px;
	font-family: 'Raleway', sans-serif;
    font-weight: 600;
}
.random-text-month{
    
	width:75%;
    position: absolute;
    top: 50px;
    left: 115px;
	height:60px;
	display:inline-block;
	float:right;
    color: #707070;
    word-wrap: break-word;
    word-break: break-all;
}

.print-user {
    
    color:#7b99fa;
    position: absolute;
    top: 23px;
    left: 105px;
	margin-bottom:0px;
	font-family: 'Raleway', sans-serif;
    font-weight: 600;
    
}
.print-text {
    
    width:75%;
    position: absolute;
    top: 40px;
    left: 105px;
	height:60px;
	display:inline-block;
	float:right;
    color: #707070;
    
}

#first-row{
    
	margin-top:60px;
    margin-left: 29.05%;
}

#infinite-row {
    
	margin-top:30px;
	height:100%;
     margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

#print-div {
    
	height:100px;
    border: 1px solid rgba(112, 112, 112, .25);
	background-color: white;
    clear:both;
    display:block;
    padding-right: 0px;
}

.vote {
    
    border-radius: 50px;
    border-style: none;
    background-color: black;
    color: white;
    width: 20px;
    height: 20px;
    float: right;
    z-index: 1;
    
}

.up {
    
    margin-top: 23px;
    margin-right: 25px;
    
}

.down {
    
    margin-top: 53px;
    margin-right: -19px;
    
}

.user-print-pic {
    
	background-color: black;
    position: absolute;
    top: 25px;
    left: 25px;
	height:50px;
	width:70px;
	float:left;
    
}

.penlogo-div {
    
	width:50px;
	height:40px;
	display: block;
	float:left;
	margin-left:50px;
}

#penlogo{
    
	height:40px;
	width: auto;
	padding-top:10px;
	
}

#masthead{
	height:120px;
    margin-right:8.3%;
	margin-left:58.3%;
	margin-top:5px;
	position:fixed;
	z-index: 3;
	padding: 0px;
}
.footertext{
	margin-left:10px;
	margin-right:0px;
	margin-bottom:20px;
	padding-top:20px;
}
#footer{
	margin-bottom:0px;
	padding-bottom:0px;
	width:100%;
	height:50px;
	margin-top:20px;
	background-color:white;
}
.copyrightlink {
    
	color:black;
	margin-bottom:40px;

}
.linkovi {
    
	float:right;
	margin-right:10%;
}

.send-feedback {
    
	background-color: #7b99fa;
	width:100%;
	border-style: none;
	height:20%;
	color:white;

}

#overlay {
    
	background:rgba(0,0,0,0.3);
    display:none;
    width:100%; height:100%;
    position:absolute; top:0; left:0; z-index:99998;
}


/* LANDING STAJL */
#landing-body{
	height:100%;
}
#landing-row{
	height: 100%;
	min-height: 100%;
}

#landing-container{
	height:100%;
}



.logindiv {
    
    width: 400px;
    height: 200px;
    background-color: white;
    position: relative;
    top: 200px;
    left: 30%;
    border: 1px solid grey;
    
}



.password {
        
    border-style: none;
    border-radius: 5px;
    width: 200px;
    height: 30px;
    margin-top: 20px;
    position: relative;
    left: 25%;
    background-color:white;
    padding-left: 10px;
    
}
.username{
    
    border-style: none;
    border-radius: 5px;
    width: 200px;
    height: 30px;
    margin-top: 20px;
    position: relative;
    left: 25%;
    background-color: white;
    padding-left: 10px;

}

#signin {
    
    width: 200px;
    height: 40px;
    border-style: none;
    border-radius: 5px;
    color: white;
    background-color: #7b99fa;
    margin-top: 20px;
    position: relative;
    left: 25%;
    
    
}

.signupdiv {
    
    height: 250px;
    margin-top: 450px;
    position:relative;
    left: -3.4%;
    border: 1px solid grey;
    background-color: white;
    
}

.signup{
    
     width: 200px;
    height: 40px;
    border-style: none;
    border-radius: 5px;
    color: white;
    background-color: #7b99fa;
    margin-top: 20px;
    position: relative;
    left: 25%;
}

.left-div{
    
	margin-top:5%;
	height:100%;
    transition: 0.5s ease;
}

#right-div-landing

{
	
    height: 100%;
    float: right;
    overflow-y: hidden;
    background: #a8aee4 /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#b4b9e8, #a8aee4); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#b4b9e8, #a8aee4); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#b4b9e8, #a8aee4); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#b4b9e8, #a8aee4); /* Standard syntax */

}
.right-div-mobile{
    
    display: none;
    
}

.right-div-mobile-homeback {
    
    display: none;
    
}

@media (max-width: 920px){
    
    #right-div-landing {
        
        display: none;
        
    }
    
    .right-div-mobile{
        
        display: block;
        
    }
    
    .right-div-mobile-homeback {
    
    display: block;
    
}
    
}

#google-dugme{
	width:40%;
	background-color: white;
	height:50px;
	border:none;

}
.google-button-img{
	height:40px;
	width:auto;
	padding-right:0px;
	padding-left: 5px;
}
.google-login-container{
	background-color:white;
	height:50px;
	width:150px;
	font-family: 'Open Sans';
	font-size:20px;
	border-radius: 2px;

}
#login-div{   
	margin: 0px auto;
	margin-top:20%;
	height:100%;
	min-height: 100%;
    overflow-y: hidden;
}

#login-div.hidden{
	height:0px;
	max-height: 1px;
}
.left-logo{
	height:250px;
	width:auto;
	margin-left:26%;

}
.left-text{
    
	text-align:center;
	margin-top:5%;
	font-family:'Montserrat';
    
}
.centerButtons{
    
	margin:0 auto;
	margin-left:34%;
}

#signin-select-button{
    
    border-style: none;
    background-color: transparent;
    color: white;
    text-decoration: none;
    font-family: 'Montserrat';
    font-size: 12px;
    padding-right: 5px;
    
}

#signin-select-button:focus{
    
    border-top: 1px solid white;
}

#signup-select-button{
    
    border-style: none;
    text-decoration: none;
    background-color: transparent;
    color: white;
    font-family: 'Montserrat';
    font-size: 12px;
    padding-left: 5px;
    
}

#signup-select-button:focus{
    
    border-top: 1px solid white;
}


/** ERROR HANDLERI   **/


.errmsg{
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    word-wrap: break-word;
    word-break: break-all;
    background-color:#ffe6e6;
    color:darkred;
    bottom:0px;
    width:100%;
    margin-bottom:0px;
}
.errorpic{
	width:100%;
	margin:0;
	padding:0;
}
.errorbunny{
	float:right;
	width:300px;
	height:auto;
}
h1,h2{
	text-align: center;
}
h3{
	text-align:center;
	margin-top:2px;
}
.errp{
	color:darkred;
	text-align:center;}
.longp{
	color:darkred;
	padding-left:10px;
}

/** PROGRESS PAGE STYLES **/ 
#left-div-profile{
	background-color: #9933ff;
	height: 100%;
	position: fixed;
	left:0px;
	padding-left:2.5%;
	text-align:center;
	color:white;
	padding-top:50px;
}
.progress{

	width:80%;
	margin:0 auto;
	margin-top:30px;
}
.progress-bar{
	color: white;
}
.progress-bar-striped{
	background-color:white;
	color:white;
}
.progress-bar-striped:active{
	background-color: white;
	color:white;
}
.follow-button-profile{
  -webkit-border-radius: 15;
  -moz-border-radius: 15;
  border-radius: 15px;
  color: #9933ff;
  background: #ffffff;
  padding: 10px 20px 10px 20px;
  border-style:none;
  width:35%;
  font-family:'Montserrat';
  margin-top:30px;
}
.message-button-profile{
	-webkit-border-radius: 15;
  -moz-border-radius: 15;
  border-radius: 15px;
  color: #9933ff;
  background: #ffffff;
  padding: 10px 20px 10px 20px;
  border-style:none;
  width:35%;
  font-family:'Montserrat';
  margin-left:5%;
  margin-top:30px;
}
.userpic{
	width:30%;
	height:auto;
}
.optional-login{
	margin-left:10%;
}
.description{
	margin-top:30px;
}
.left-div-option-button{
	color:white;
	background-color: transparent;
	border-style:none;
	margin-top:30px;
}
.left-div-bottom-div{
	background-color: white;
	width:80%;
	height:30%;
	margin:0 auto;
	margin-top:30px;
}