@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/css?family=Inconsolata:400,700');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,500');

@font-face {
        font-family: 'ProximaNova-Semibold';
        src: url('/stylesheets/fonts/ProximaNova-Semibold.otf');
        src: local('ProximaNova-Semibold'), url('/stylesheets/fonts/ProximaNova-Semibold.otf'), format('opentype');
    }

@font-face {
        font-family: 'ProximaNova-Regular';
        src: url('/stylesheets/fonts/ProximaNova-Regular.otf');
        src: local('ProximaNova-Regular'), url('/stylesheets/fonts/ProximaNova-Regular.otf'), format('opentype');
    }

.body {

    background-color: white;
    width: 100%;
    height: 100%;
    overflow-x: hidden;

}

.navigation{

    height: 60px;
    background-color: #222831;
    padding: 15px;

}

.logo {

    font-family: 'ProximaNova-Semibold';
    font-size: 18px;
    color: white;
    position: absolute;
    left: 4.5%;
    top: 18px;

}

.search {

    background-color: transparent;
    border: 1px solid white;
    border-radius: 3px;
    height: 30px;
    color: white;
    outline: none;
    margin: 0;
    position: absolute;
    left: 48%;
    transform: translate(-48%);

}


#form{

    margin-top:40px;
    left: 48%;
    transform: translate(-48%);
    clear: both;


}

#welcomecontainer > ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    white;
    opacity: 0.5;
    font-size: 18px;
}
#welcomecontainer > :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    white;
   opacity:  0.5;
   font-size: 18px;
}
#welcomecontainer > ::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    white;
   opacity:  0.5;
}
#welcomecontainer > :-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    white;
   opacity: 0.5;
}

#welcome{

    margin-top:40px;
    width:100%;
    margin-left: 25%;

}

.text {

    font-family: 'ProximaNova-Regular';
    font-size: 28px;
    color:white;
    position: absolute;
    top: 20%;
    left:30%;

}

.inconstruction {

    position: absolute;
    top: 34%;
    left:30%;
    font-family: 'Roboto Mono';
    color:white;
    font-size: 12px;

}

#showsomelove{

    width: 45%;
    position: absolute;
    top: 40%;
    left:29.5%;

}

.subscribeinput {

    outline: none;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid white;
    width: 350px;
    position: absolute;
    top: 83%;
    left: 29.5%;
    color:white;
    font-family: 'ProximaNova-Regular'

}

.subscribebtn{

    outline: none;
    background-color: transparent;
    border: none;
    border: 1px solid white;
    border-radius: 3px;
    width: 140px;
    height: 40px;
    position: absolute;
    top: 78%;
    left: 75%;
    color:white;
    font-family: 'ProximaNova-Regular';
    font-size: 16px;

}

.writediv{

    outline: none;
    display: inline-block;
    overflow: hidden;
    height: 60px;
    background-color: white;
    border: none;
    border-bottom: 1px solid rgba(34, 40, 49, 0.15);
    width: 100%;
    resize: none;
    font-family: 'ProximaNova-Regular';
    font-size: 20px;
    color: black;
    padding: 20px 0;
    transition: 0.3s ease-out;

}

.writediv:focus {

    border-bottom: 1px solid #222831;

}

.postbutton{

    background-color: transparent;
    border: 2px solid #222831;
    height: 35px;
    width: 150px;
    float: right;
    margin-top: 10px;
    font-family: 'ProximaNova-Semibold';
    font-size: 16px;
    color: #222831;
    transition: 0.3s;

}

.postbutton:hover{

    border: 2px solid #222831;
    background-color:#222831;
    color:white;

}

.wordcounter {

    height:35px;
    width: 150px;
    float:left;
    margin-top: 10px;
    border: 1px solid #7b99fa;
    background-color: white;
    font-family: "Inconsolata";
    font-size: 14px;
    color: #7b99fa;
    display: table;
    text-align: center;


}

.wordspan {

    display: table-cell;
    position: relative;
    top: 22%;

}

#postcontainer{

    margin-top: 10px;

}

.posts {

    margin-top: 15px;
    margin-bottom: 15px;
    left: 48%;
    transform: translate(-48%);
    clear: both;


}

.post {


    background-color: white;
    border-bottom: 1px solid rgba(34, 40, 49, 0.15);
    padding-left: 20px;
    float:right;
    font-family: 'ProximaNova-Semibold';
    font-size: 24px;
    padding: 20px;
    padding-left: 0;
    padding-bottom: 0;
    color: #222831;
    width: 100%;
    height: 100%;
    display:block;
}

.post-content {

    padding-bottom:20px;
    margin-bottom: 0;
    word-wrap: break-word;

}

.voting {

    width: 35px;
    height: 100%;
    background-color: transparent;
    display: table;

}

.voteup{

    outline: none;
    width: 35px;
    height: 35px;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 3px;
    background-color: transparent;
    position: absolute;
    top: 0;
}

.votedown {

    outline: none;
    width: 35px;
    height: 35px;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 3px;
    background-color: transparent;
    position: absolute;
    left:15px;
    bottom: 0;

}

.total {

    font-family: 'Inconsolata';
    font-size: 18px;
    color: #222831;
    position: absolute;
    left: 50px;

}


.username {

    font-family: 'Roboto Mono';
    font-size: 12px;
    color: #7b99fa;
    position: relative;
    left: 100px;
    margin-bottom:-5px;
}

.imagecropper{

    width: 30px;
    height: 30px;
    left: 60px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    bottom: 20px;
       border: 2px solid white;
    -webkit-box-shadow: 0px 0px 0px 1px #7b99fa;
    -moz-box-shadow: 0px 0px 0px 1px #7b99fa;
    box-shadow: 0px 0px 0px 1px #7b99fa;
}

.profileimage{

    display: block;
    margin: 0 auto;
    width: 100%;
    height:auto;

}

#heart {

    font-size: 25px;

}

.heartbtn {

    position: relative;
    float:left;
    clear:both;
    bottom: 2px;

}

.ppl {

    width:100%;
    height: 200px;
    background-color: black;
    margin-top: 30px;
    margin-left: 98px;
    position: absolute;
    left: 17.85%;
    transform: translate(-48%);
    border-radius: 3px;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, .15);

}

@media(max-width: 1000px){

    #welcome{

        margin-left: 0;

    }

    .text {

        display: none;

    }

    #showsomelove{

        width: 50%;
        left: 5%;
        top: 30%;

    }

    .inconstruction{

        font-size: 14px;
        left: 5%;
        top: 15%;

    }

    .subscribeinput {

        left: 5%;

    }

    .subscribebtn{

        left: 50%;

    }

}

@media (max-width: 580px) {

    .postbutton{

        width:100%;

    }

    .writediv {

        height: 100px;

    }

    .wordcounter{

        width:100%;

    }

    .search {

    left: 78%;
    transform: translate(-78%);

    }

    .logo {

        font-size: 14px;

    }

    .post {

        font-size: 18px;

    }

    #showsomelove{

        width: 70%;
        left: 5%;
        top: 20%;

    }

    .inconstruction{

        display:none;

    }

    .subscribeinput {

        left: 5%;
        top: 60%;

    }

    .subscribebtn{

        left: 5%;
        top: 77%;
        width: 350px;

    }



}
@media (max-width: 480px) {

    .writediv {

        height:130px;

    }

    .subscribeinput {

        left: 5%;
        top: 60%;
        width:250px;

    }

    .subscribebtn{

        left: 5%;
        top: 77%;
        width: 250px;

    }

}